    #Install-App{
        display:none;
        background-color:rgba(0,0,0,0.6);
        Top:0;
        Bottom:0;
        Left:0;
        Right:0;
        Position:Fixed;
    }   
    #App-Install-Notify{
        background-color:#ffffff;
        Width:182px;
        Height:100px;
        Border-radius:8px;
        Font-weight:bold;
        Line-height:-4px;
        Top:120px;
        Border-top:10px solid #ffffff;
        Border-left:40px Solid #ffffff;
        Border-Right:40px Solid #ffffff;
        bottom:140px;
        Font-size:14px;
        Color:#000000;
        /*Padding:20px 0;*/
        Margin-top:30px;
        Margin-left:12px;
        Left:40px;
       Padding-Bottom:30px;
        Clear:Left;
       /* Right:4px;*/
        Position:absolute;
       /*Animation:Topup 4s 1;*/
    }

   #App-Left-Button{
       Background-color:#ffffff;
       Color:Blue;
       Border:None;
       Font-size:15px;
       Font-weight:bold;
       Left:2px;
     Float:left;
     Padding:12px 0;
     Position:Absolute;
   }
   #App-Right-Button{
Background-color:#ffffff;
       Color:blue;
Border:None;
       Font-size:15px;
       Font-weight:bold;
       Right:2px;
      Float:Right; 
      Padding:12px 0;
      Position:absolute;
   }
   
