       #HarScript-Example{
   background-color:indigo;
   font-size:24px;
   color:#feadfa;
   font-family:courier;
   color:#ffffff;
   left:0;
   right:0;
   padding:3px;
   max-width:1280px;
   position:absolute;
  /* text-decoration:underline;*/
       }
       code{
        font-family:courier;
         Font-size:25px;

       }

       #Symbols{
           color:yellow;
           font-size:22px;
           font-weight:bold;
       }
       #Html{
           color:aqua;
           font-size:22px;
       }
       #Any-Statments{
           color:gold;
           font-size:22px;
           font-style:italic;
       }
       #JS-Function{
           color:#80ff00;
           font-size:24px;
       }
       #Comments{
           font-size:16px;
       }
       #HighLight{
           color:yellow;
           font-size:22px;
           animation:ChangeColor 1s infinite;
       }
 @-webkit-keyframes ChangeColor{
     from{
         color:yellow;
     }
     to{
         color:red;
     }
 }      
 @keyframes ChangeColor{
     from{
         color:yellow;
     }
     to{
         color:red;
     }
 }   
 #File_Name{
     background-color:#ffffff;
     font-size:14px;
     font-weight:bold;
 }
 #OutPut{
     Padding:10px 14px;
     border:none;
     background-image:linear-gradient(to bottom , #ffffff, #4ac12a);
     color:#ffffff;
     font-weight:bold;
     font-size:28px;
     Right:2px;
     position:absolute;
 }
